.top-container {
    background-image: url(../img/bg_about.jpg);
}
.top-container .top-introduction {
    font-family: OpenSans-Light;
    position: relative;
    padding-top: 0;
    padding-bottom: 42px;
    font-size: 56px;
    font-weight: lighter;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.top-container .top-content {
    letter-spacing: 0.56px;
    padding-top: 38px;
}
.top-img-wrip {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -114px;
    cursor: pointer;
    font-size: 0;
    text-align: center;
    box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);
}

.top-img-wrip>div {
    display: inline-block;
    width: 50%;
    height: 228px;
    vertical-align: top;
}

.top-img-shade {
    width: 100%;
    height: 100%;
    padding-top: 42px;
    text-align: center;
    background: #fff;
}

.top-img-shade p {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
}
.top-vis p {
    color: #4A46E4;
}
.top-mis p {
    color: #F03349;
}
.top-img-shade span {
    font-size: 14px;
    color: #696969;
}

.history-container {
    width: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url(../img/history_ver.png);
    background-repeat: no-repeat;
    background-size: 4px 100%;
    background-position: center 0;
    cursor: pointer;
}
.history-item {
    padding: 30px 0;
}
.history-item > span {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.his-left {
    text-align: right;
    margin-right: -10%;
}
.his-right {
    text-align: left;
    margin-left: -10%;
}
.his-content {
    font-size: 15px;
    color: #515151;
    line-height: 26px;
}
.his-year {
    color: #D5D5D5;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}
.his-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 5px solid #eee;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 25px;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    -o-transition: border-color 1s;
    transition: border-color 1s;
}
.history-item:hover .his-circle {
    border-color: #00B42F;
}
.history-item:hover .his-year {
    font-weight: bold;
    color: #00B42F;
}


.holder-container {
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    background: #fff;
    box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);
}
.holder-container img {
    max-width: 90%;
}
.contact-container {
    width: 100%;
    padding-top: 110px;
    font-size: 0;
}
.contact-container > li {
    display: inline-block;
    width: 50%;
    height: 700px;
    vertical-align: top;
}
@media screen and (max-width: 980px) {
    .contact-container > li {
        width: 100%;
        border-bottom: 1px solid #fff;
    }
}
.contact-container  h2 {
    font-weight: normal;
    font-size: 40px;
    padding-bottom: 30px;
}
.contact-pic img,
.contact-map img {
    width: 100%;
    height: 100%;
}
.join-us {
    background: #00B430;
    color: #fff;
    padding: 150px 100px;
}
.join-us h2 {
    font-family: OpenSans-Bold;
    padding-bottom: 16px;
}
.join-us p {
    font-family: OpenSans-Light;
    font-size: 18px;
    padding-bottom: 70px;
}
.contact-us {
    background: #00B430;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}
.contact-us h3 {
    font-family: OpenSans-Bold;
    font-size: 30px;
    padding-bottom: 16px;
}
.contact-us p {
    font-family: OpenSans-Light;
    font-size: 18px;
    padding-bottom: 130px;
    letter-spacing: 1.5px;
}
/*
.contact-us > form {
    font-size: 16px;
    color: #fff;
}
.contact-us input,
.contact-us textarea {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    background: #00B430;
    border: 0;
    border-bottom: 2px solid #fff;
}
.contact-us textarea {
    height: 180px;
}
.contact-us button {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 70px 0 0 30%;
    color: #00B42F;
    background: #fff;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}
.contact-us button:hover {
    background: #eee;
}*/