
.top-container{
	background-image: url(../img/bg_home.jpg);
}
.top-more {
	position: relative;
	padding-top: 160px;
    animation: logoslide 1.5s ease 0s 1;
    -webkit-animation: logoslide 1.5s ease 0s 1; /* Safari and Chrome */
}
.top-more > a {
	position: relative;
	display: inline-block;
	width: 188px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
    letter-spacing: 2px;
    animation: logoslide 1.5s ease 0s 1;
    -webkit-animation: logoslide 1.5s ease 0s 1; /* Safari and Chrome */
}

.customer-container {
	width: 90%;
	margin: 0 auto;
	padding: 150px 0 100px;
	text-align: center;
}
.customer-promise {
	font-size: 0;
}
.customer-promise li {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
.customer-promise li > h2 {
	padding: 30px 0 20px;
	font-size: 20px;
	color: #152844;
}
.customer-promise li > p {
	width: 90%;
	display: inline-block;
	color: #8FA6B7;
	font-size: 13px;
}
.customer-stories {
	padding: 130px 0 80px;
	color: #152844;
	font-size: 48px;
	font-weight: normal;
}
.customer-logos {
	max-width: 1166px;
	margin: 0 auto;
	padding: 56px 86px;
}
.customer-achieve {
	padding-top: 150px;
	font-size: 0;
	width: 100%;
	max-width: 986px;
	margin: 0 auto;
}
.customer-achieve li {
	display: inline-block;
	width: calc(50% - 26px);
	max-width: 480px;
	min-height: 250px;
	margin-bottom: 26px;
	padding: 15px 32px 24px;
	font-size: 14px;
	box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);
	vertical-align: top;
}
.customer-achieve h4 {
	padding-bottom: 12px;
	text-align: left;
	color: #898989;
}
.customer-achieve li:nth-child(1),
.customer-achieve li:nth-child(3) {
	margin-right: 26px;
}
.customer-achieve .stars {
	padding-bottom: 30px;
	color: #F6A623;
	min-height: 50px;
}
.customer-achieve .contents {
	text-align: left;
	line-height: 24px;
}
.customer-achieve .news-left {
    width: 55%;
    float: left;
    height: 175px;
    margin-right: 3%;
    margin-bottom: 20px;
}
.customer-achieve .news-right {
    width: 42%;
    float: left;
    height: 175px;
    margin-bottom: 20px;
}
.data-board {
	position: relative;
    background: linear-gradient(#3E65BC, #1FA0EA);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3E65BC, endColorStr=#1FA0EA);
    padding: 80px 0;
    text-align: center;
}
.data-board .data-value {
	width: 80%;
	min-width: 980px;
	height: 528px;
	margin: 0 auto;
	padding-top: 150px;
	background-image: url(../img/bg_world.png);
	background-size: 90% 100%;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
}
.data-value li {
	display: inline-block;
	width: 30%;
}
.data-value li > p {
	font-size: 50px;
	color: #fff;
}
.data-value li > label {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.78)
}
.data-board > h2 {
	font-size: 46px;
	color: #fff;
	font-weight: lighter;
	margin-top: -50px;
	padding-bottom: 76px;
}
.data-board > p {
	color: #fff;
	padding-bottom: 80px;
    letter-spacing: 1.2px;
}
.data-board input[name="email"] {
	width: 60%;
	height: 56px;
	background: #fff;
	border: 0;
	border-radius: 4px;
	text-align: center;
}
.data-board button {
	width: 220px;
	height: 55px;
	margin-top: 80px;
	background: transparent;
	color: #fff;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}
.data-board button:hover {
	border-color: rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
}
.data-board button:active {
	border-color: rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
}