.top-container {
    background-image: url(../img/bg_os.jpg);
}
.top-container .top-introduction {
    position: relative;
    padding-top: 0;
    color: #fff;
}

.os-container > li {
    padding: 100px 0;
}
.os-container ul > li {
    display: inline-block;
    width: 49%;
}
.img-cont {
    text-align: center;
}
.text-cont {
    padding-left: 14%;
}
.text-cont h2 {
    padding-bottom: 30px;
}
.photos-wrip {
    color: #fff;
    background-image: url(../img/os_bgphotos.png);
    background-repeat: no-repeat;
}
.version-wrip {
    padding: 0;
    width: 100%;
    height: 666px;
    background-image: url(../img/os_v7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.data-wrip {
    background: linear-gradient(#FF9F2B, #FFAD2C);
    filter: progid: DXImageTransform.Microsoft.Gradient(startColorStr=#FF9F2B, endColorStr=#FFAD2C);
}
.data-wrip ul {
    font-size: 0;
}
.data-wrip ul li {
    width: 33%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.data-wrip p {
    font-size: 40px;
}
.data-wrip label {
    font-size: 18px;
}