.header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 80px;
    padding: 10px 5%;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    transition: height 0.5s, padding 0.5s, background 0.5s;
}
.header.active {
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0px 5%;
    background: rgba(0,0,0,0.3);
}

.header .header-logo {
    vertical-align: top;
}

.header .header-nav {
    color: #fff;
    height: 60px;
    line-height: 60px;
    float: right;
}

.header .header-nav>li {
    display: inline-block;
    min-width: 90px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    transition: background .5s linear;
}

.header .header-nav>li:hover,
.header .header-nav>li.active {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 2px;
}

.header .header-nav>li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
}
@font-face { 
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans-Light.ttf');
} 
@font-face { 
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
} 

.top-container {
    position: relative;
    width: 100%;
    height: 980px;
    padding-top: 320px;
    color: #fff;
    text-align: center;
    background-color: #0E356D;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1580px ) {
    .top-container {
        background-size: auto 100%;
    }
}

.top-container .top-logo {
    position: relative;
    width: 188px;
    height: 50px;
    animation: logoslide 1.5s ease 0s 1;
    -webkit-animation: logoslide 1.5s ease 0s 1; /* Safari and Chrome */
}

.top-container .top-introduction {
    position: relative;
    font-size: 39px;
    font-weight: lighter;
    color: #BEC8D8;
    margin: 0;
    padding-top: 90px;
    animation: logoslide 1.5s ease 0s 1;
    -webkit-animation: logoslide 1.5s ease 0s 1; /* Safari and Chrome */
}

.top-container .top-content {
    position: relative;
    width: 80%;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 68px;
    text-align: left;
    font-family: OpenSans-Light;
    font-size: 17px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.77);
    animation: logoslide 1.5s ease 0s 1;
    -webkit-animation: logoslide 1.5s ease 0s 1; /* Safari and Chrome */
}
@keyframes logoslide
{
    from {top: 100px;opacity: 0}
    to {top: 0px;opacity: 1}
}

@-webkit-keyframes logoslide /* Safari and Chrome */
{
    from {top: 100px;opacity: 0}
    to {top: 0px;opacity: 1}
}

.footer {
    width: 960px;
    margin: 100px auto;
}

.footer .footer-pub {
    font-size: 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #EEF1EC;
}

.footer-pub > li {
    display: inline-block;
    width: 240px;
    height: 160px;
    color: #817C89;
    font-size: 13px;
    vertical-align: top;
}

.footer-pub > li h2,
.footer-pub > li h4 {
    padding-bottom: 24px;
}

.footer-pub > li > a {
    color: #817C89;
    line-height: 28px;
}

.footer-pub .email-wrip {
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
    background: #F4F4F4;
    border-radius: 2px;
}

.footer-pub .email-wrip > input {
    width: 210px;
    border: none;
    background: #f4f4f4;
    padding: 0 10px;
}

.footer-pub .email-wrip > .fa {
    cursor: pointer;
}

.footer .copyright {
    padding-top: 15px;
    line-height: 34px;
}

.footer .copyright > a {
    font-family: Microsoft Yahei;
    font-size: 12px;
    color: #8D8D8D;
}

.copyright .society {
    float: right;
    font-size: 34px;
}

.copyright .society .fa-twitter-square {
    color: #55ACEE;
}

.copyright .society .fa-facebook-square {
    color: #3B5998;
}

.copyright .society .fa-google-plus-square {
    color: #D64836;
}

.copyright .society .fa-linkedin-square {
    color: #0194C0;
}

#to-top {
	display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    z-index: 3;
}