.top-container {
    background-image: url(../img/bg_reva.jpg);
}

.top-img-wrip {
    width: 100%;
    position: absolute;
    bottom: -168px;
    cursor: pointer;
    font-size: 0;
    text-align: center;
}

.top-img-wrip > div {
    display: inline-block;
    width: 40%;
    max-width: 500px;
    height: 336px;
    overflow: hidden;
}

.top-img-wrip .top-rms,
.top-img-wrip .top-rbs {
    position: relative;
}
.top-img-wrip .top-rms img,
.top-img-wrip .top-rbs img {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.top-img-wrip .top-rms:hover img,
.top-img-wrip .top-rbs:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.top-img-shade {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 124px;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
}

.top-img-shade p {
    font-size: 40px;
    font-weight: bold;
    color: #404D73;
    margin-bottom: 24px;
}

.top-img-shade span {
    font-size: 24px;
    color: #2E3E6A;
    opacity: .5;
}

.modular-container {
    padding-top: 300px;
}

.modular-container .modular-title {
    color: #152844;
    text-align: center;
    font-weight: normal;
    font-size: 46px;
    padding: 0 10%;
}


.modular-container .modular-preview {
    width: 100%;
    padding: 0 10% 180px;
}

.modular-preview .preview-left {
    letter-spacing: 12px;
    text-align: center;
    padding: 78px 0;
}


.modular-preview .preview-left-btn>li {
    display: inline-block;
    width: 115px;
    height: 115px;
    cursor: pointer;
    background-size: 100% 100%;
}

.modular-preview .preview-left-btn>li:nth-child(1) {
    background-image: url(../img/reva_tracker.png);
}

.modular-preview .preview-left-btn>li:nth-child(2) {
    background-image: url(../img/reva_ad.png);
}

.modular-preview .preview-left-btn>li:nth-child(3) {
    background-image: url(../img/reva_push.png);
}

.modular-preview .preview-left-btn>li:nth-child(4) {
    background-image: url(../img/reva_update.png);
}

.modular-preview .preview-left-btn>li:nth-child(1).active {
    background-image: url(../img/reva_trackerActive.png);
}

.modular-preview .preview-left-btn>li:nth-child(2).active {
    background-image: url(../img/reva_adActive.png);
}

.modular-preview .preview-left-btn>li:nth-child(3).active {
    background-image: url(../img/reva_pushActive.png);
}

.modular-preview .preview-left-btn>li:nth-child(4).active {
    background-image: url(../img/reva_updateActive.png);
}

.data-wriper {
    padding: 100px 0;
    background-image: url(../img/bg_world.png);
    background-position: center 0;
    background-repeat: no-repeat;
    // background-size: 80% 100%;
}
.data-title {
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 46px;
    padding: 0 10%;
}
.data-content {
    width: 90%;
    margin: 0 auto;
    padding: 200px 0;
    font-size: 0;
}
.data-content > li {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.data-content > li > p {
    font-size: 50px;
    padding-bottom: 20px;
    color: #fff;
}
.data-content > li > label {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.35);
}
@media screen and (max-width: 1380px) {
    .data-content > li > p {
        font-size: 42px;
    }
}
@media screen and (max-width: 1250px) {
    .data-content > li > p {
        font-size: 36px;
    }
    .data-content > li > label {
        font-size: 18px;
    }
}
@media screen and (max-width: 980px) {
    .data-content > li > p {
        font-size: 32px;
    }
}

.preview-right .swiper-container {
    width: 800px;
    height: 520px;
}

.preview-right img {
    width: 100%;
    height: 100%;
}

.app-container {
    width: 100%;
    padding-top: 180px;
    text-align: center;
    color: #fff;
    background: linear-gradient(#0E356D, #4D6EB8);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#0E356D, endColorStr=#4D6EB8);
}

.app-container .app-title {
    font-weight: normal;
    font-size: 48px;
}

.app-container .app-subtitle {
    font-weight: normal;
    padding: 30px 0;
    font-size: 29px;
}

.app-container .app-content {
    opacity: .52;
    line-height: 22px;
    font-size: 16px;
}

.app-container .app-icon {
    padding: 100px 0;
}

.app-container .app-icon>li {
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
}
.app-container .app-icon>li:last-child {
    padding: 0;
}

.app-icon>li>img {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.app-icon>li>span {
    letter-spacing: 1.75px;
    color: #D5DCE8;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.app-icon>li:hover>img {
    width: 62px;
    height: 62px;
    margin-bottom: 16px;
}

.app-icon>li:hover>span {
    font-size: 15px;
    letter-spacing: 1.75px;
    color: #D5DCE8;
}

.app-icon>li>span img {
    display: none;
    padding-right: 5px;
}

.app-icon>li.active>img {
    width: 62px;
    height: 62px;
    color: #00B9F7;
}

.app-icon>li.active>span {
    font-size: 15px;
    color: #00B9F7;
}

.app-icon>li.active>span img {
    display: inline-block;
}
.app-preview {
	width: 900px;
	height: 550px;
	margin: 0 auto;
}
.app-preview .swiper-container {
	height: 100%;
}
.app-preview img {
	width: 280px;
	height: 100%;
}
.app-preview video {
    display: none;
    width: 280px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -230px;
}
.app-preview .app-video-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    cursor: pointer;
}
.app-cover {
    position: relative;
    top: -115px;
    width: 100%;
    height: 115px;
    background: #fff;
    z-index: 2;
}
.footer {
    margin: -100px auto 100px;
}